name: Renovate

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

permissions: {}

jobs:
  renovate:
    name: Renovate
    runs-on: ubuntu-latest
    steps:
      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ vars.RENOVATE_APP_ID }}
          private-key: ${{ secrets.RENOVATE_APP_PRIVATE_KEY }}

      - uses: actions/checkout@v6

      - uses: renovatebot/github-action@v46
        with:
          token: ${{ steps.app-token.outputs.token }}
